*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.nav{
    background-color: black;
    width: 100%;
    height: 100px;
}

.left-menu{
    width: 20%;
    height: 68%;
    background-color: aqua;
}

.board{
    width: 100%;
    height: 35%;
    background-color: aliceblue;
}

.board>h1{
    text-align: end;
    padding: 165px 22px 20px 0px;
}

.menu-name{
    padding: 40px;
}

.menu-item{
    padding: 30px 0px 30px 0px;
    display: flex;
    align-items: center;
}

.click{
    color: blue;
}

.menu-item>span{
    font-size: 18px;
    font-weight: 900;
}

.content{
    margin-top: 165px;
    width: 80%;
}

.item-name{
    width: 80%;
    margin: 0 auto;
}

.item-name >h1{
padding-bottom: 20px;
text-align: start;
}

.search-box{
    width: 100%;
}

.search-inner{
    text-align: end;
    padding-bottom: 10px;
    position: relative;
}

.absolute{
  position: absolute;
  top: 8px;
  right: 10px;
}

input {
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 14px;
  }
  
  img {
    width: 17px;
    top: 10px;
    right: 12px;
  }

.table-wrap{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 13px;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

  .thead{
    font-weight: 600;
    border-top: 2px solid black;
    border-bottom: 2px solid gray;
  }

  #link{
    width: 430px;
    padding-left: 20px;
  }

  td:first-child,
  td:nth-child(2),
  td:nth-child(3),
  td:nth-child(4),
  td:nth-child(5),
  td:nth-child(6){
    text-align: center;
    padding: 10px 0px;
  }

th{ 
    background-color: #d3d3d3 ; 
    border-top: 3px solid #727272;
    }


th, td {
    border-bottom: 1px solid #d3d3d3;
    padding: 10px;
    }

a{
    color: black;
    text-decoration-line : none;
}

.pin{
    background-color: aliceblue;
}

.footer{
    background-color: black;
    color: white;
}

.footer-main{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px 0px 80px
}


.footer-icon{
    padding: 10px 0px 10px 0px;
    font-size: 30px;    
}

.sns{
    color: white;
}

.footer-header>h1{
    margin-bottom: 10px;
    font-size: 30px;
}

.footer-body> ul{
    display: flex;
    list-style: none;
    justify-content: center;
    font-size: 15px;
    margin-right: 80px;
}


.footer-body> ul> li{
    margin-left: 2rem;
}

.footer-body{
    height: 50px;
    margin: 5px 0px 0px 80px;
}

.footer-name{
    padding-top: 30px;
    font-size: 10px;
    text-align: end;
    margin-right: 80px;
}

.paging > ul{
    list-style: none;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

.paging ul > li{
    margin: 1rem;
    display: flex;
    align-items: center;
}

