*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    max-width: 100%;
    width: 100%;
    height: 100%;
}

/* 메인 */

.main-content{
    display: flex;
    height: 700px;
    overflow: hidden;
}

.font-content{
    position: absolute;
    left: 0;
    top: 0;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: end;
    border-radius:0px 50% 50% 0px;
    height: 700px;
    width: 43%;
}

.font-content>h1{
    font-size: 50px;
    margin-right: 10%;
}

.main-img{
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}

/* 뉴스 */

.section-title >h3{
    font-size: 30px;
    text-align: center;
    padding: 40px;
}

.board-table{
  display: flex;
  flex-direction: column;
}

.sub-container{
    width: 60%;
    margin: 0 auto;
}

.board-table tr{
    display: flex;
    flex-direction: column;

}

.board-table tr{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.board-table tr>td{
    border-bottom: 1px solid black;
    padding: 12px;
    text-align: center;
}

#dubble{
    border: none;
}

.board-table .box-control{
    display: flex;
    justify-content: center;
}

.board-table .box{
    position: relative;
    width: 30px;
    background-color: blue;
    color: white;
    padding: 5px 20px;
    border-radius: 30px;
    margin-right: 10px;
}

.box>span{
    position: absolute;
    top: 2px;
    left: 7px;
    font-size: 12px;
}

.paging > ul{
    list-style: none;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

.paging ul > li{
    margin: 1rem;
    display: flex;
    align-items: center;
}

/* 종목별 순위 */

.ranking{
    width: 60%;
    margin: 0 auto;
}

.rank-title > h3{
    font-size: 20px;
    text-align: center;
    padding: 40px;
}


.rank-body{
    display: flex;
    justify-content: space-evenly;
    margin-left: 1rem;
    padding-bottom: 20px;
}

.rank-contant{
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    position: relative;
}

.rank-contant img{
    width: 30px;
    height: 28px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    margin: -5px 0px 0px -25px;
    object-fit: cover;
}

.rank-contant #head{
    font-weight: 600;
    border-bottom: 1px solid gray ;
}

.rank-contant li{
   padding: 1rem;
}

.event-header{
    padding: 50px;
    text-align: center;
}

.section-title > span{
    font-size: 70px;
    font-weight: 900;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid blue;
}

#event-text{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.event-container{
    width: 90%;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.content-wrap > a{
    text-decoration: none;
    color: black;
}


.post-img{
    max-width: 100%;
    width: 400px;
    height: 300px;
    object-fit: cover;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.content-wrap{
    position: relative;
}
.event-title{
    position: absolute;
    top: -5px;
    left: 0px;
    width: 400px;
    height: 120px;
    background-color: white;
    border: 1px solid transparent;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: black;
}

figure{
    position: relative;
}

.days{
    position: absolute;
    text-decoration: none;
    color: aliceblue;
    top: 15px;
    left: 15px;
}

.point{
    color: blue;
}

.days h1{
    font-size: 60px;
}

.days span{
    font-size: 20px;
    font-weight: 500;
}

.movie{
    margin-top: 220px;
}

.movie-title{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-size: 30px;
}

.movie-container{
    padding: 40px 0px;
    width: 80%;
    margin: 0 auto;
}

.movie-content{
    display: flex;
    justify-content: space-between;
    margin-right: 180px;
}


.movie-content figure h3{
    font-size: 1.5rem;
}

.movie-img{
    max-width: 200%;
    width: 1200px;
    height: 300px;
}

.movie-img:hover{
    cursor: pointer;
    transform: scale(1.2);
    z-index: 2;
}
