body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
}

.tabList {
  list-style: none;
  padding: 0;
}

.tabItem {
  cursor: pointer;
  padding: 10px;
  background-color: #555;
  color: #fff;
}

.tabContent {
  display: none;
}

.tabContent.active {
  display: block;
}
