*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  header {
    background-color: #333;
    padding: 10px;
    color: #fff;
  }
  
ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    margin-top: 20px;
}

a{
    text-decoration: none;
    color: white;
}

  .logo {
    text-align: center;
    padding: 30px 0px 20px 0px;
  }
  
  .logo>a> img{
    width: 70px;
    height: 70px;
  }

  .container{
    width: 100%;
    height: 80%;
  }

  .find-password {
    background-color: #fff;
    padding: 20px;
    margin: 257px auto;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .find-password>h2{
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .btn-find-password {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    
  }