*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    margin:1rem;
    background-color: aliceblue;
    text-align: center;
}

.contents{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.menu-items{
    margin-top: 1rem;
}
.menu-items p{
    font-size: 20px;
    font-weight: 700;
}
.content-menu{
    height: 80vh;
    background-color: #d9d9d9;
    border: 1px solid black;
    margin-left: 1rem;
}

.content-maps{
    background-color: #ccc;
}
.content-maps .title{
    background-color: #eee;
    border: 1px solid black;
}
.content-map{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 100%;
    margin: 1rem;
}
/* .content-map p{
    margin-bottom: 5rem;
} */
.content-advertise{
    height: 80vh;
    background-color: #d9d9d9;
    border: 1px solid black;
    margin-right: 1rem;
}

.location li{
    list-style: none;
    cursor: pointer;
}

#hiddenTab{
    display: none;
}
.centers{
    list-style: none;

}
.list-content.active{
    display: block;
}
.map{
    display: none;
}
.footer{
    background-color: antiquewhite;
    margin: 1rem;
    border-radius: 2rem;
    text-align: center;
}