@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

main {
  width: 100%;
  height: 100%;
  /* position: relative; */
}

/* .right-banner{
  background-color: #ebf0ff;
  width: 200px;
  height: 100%;
  border: 1px solid black;
  position: fixed;
  right: 0;
  top: 700px;
} */

.bgImage {
  width: 100%;
  height: 75vh;
  /* position: absolute; */
  top: 0;
  left: 0;
}

.site__header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: rgb(255, 255, 255);
  color: black;
  z-index: 1000;
}

.site__header:hover .menu-item {
  color: rgb(105, 105, 105);
}
.site__header img {
  height: 60px;
  object-fit: cover;
  margin-right: 0.5rem;
  padding: 0.5rem;
}
.menu {
  display: flex;
  align-items: center;
  height: 64px;
  position: relative;
}
.menu-item1:hover .sub-menu1,
.menu-item2:hover .sub-menu2,
.menu-item3:hover .sub-menu3,
.menu-item4:hover .sub-menu4 {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.menu li {
  height: 100%;
  display: flex;
  align-items: center;
}

.menu-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  position: relative;
  /* z-index: 1; */
  font-size: 16px;
  font-weight: 600;
  color: black;
  transition: all 200ms linear;
  text-decoration: none;
}

.menu-item::before,
.menu-item::after {
  position: absolute;
  content: "";
  width: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  height: 4px;
  background-color: dodgerblue;
  transition: width 200ms linear;
}

.menu-item:hover::before,
.menu-item:hover::after {
  width: 100%;
}

.menu-item.active::before {
  transform: translateY(0);
  background-color: dodgerblue;
  z-index: -1;
}

.menu-item:hover {
  color: dodgerblue;
  background-color: rgba(255, 255, 255, 0.2);
}
.menu-item1:hover ~ .sub-menu1,
.menu-item2:hover ~ .sub-menu2 {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
.sub-menu1,
.sub-menu2,
.sub-menu3,
.sub-menu4 {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  height: 100px;
  background-color: #545775;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  padding: 1rem;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 200ms, transform 200ms;
}

/* .sub-menu2 {
  display: none;
  position: absolute;
  top: 80px;
  left: 288px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */
.sub-menu a {
  text-decoration: none;
  color: white;
}
.brand {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#burger-icon {
  position: relative;
  right: 30px;
}

.carousel-item {
  height: 700px;
}

.carousel-item img {
  /* overflow: hidden; */
  object-fit: cover;
}

.carousel-item > div {
  width: 100%;
  height: 100%;
  background-size: cover;
  text-align: center;
}

.carousel-item > img {
  width: 70%;
  height: 70%;
}

.new-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(216, 216, 216);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
  opacity: 90%;
}
.menu-open {
  pointer-events: none;
}
.show-new-menu {
  display: flex;
}

.new-menu-item {
  cursor: pointer;
  padding: 10px;
  font-size: 50px;
  font-weight: 700;
  transition: background-color 200ms linear;
  color: rgb(128, 128, 128);
  text-decoration: none;
}

.new-menu-item:hover {
  color: black;
  font-weight: bold;
}

.close-icon {
  display: none;
  cursor: pointer;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.479);
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 1;
}

.new-menu:hover .close-icon {
  display: block;
}

.close-icon:hover {
  color: black;
}

.active {
  display: block;
}

/* 새메인 */

/* .content-section a {
    text-decoration: none;
    color: black;
}

.content-section ul {
    list-style: none;
}


.content-section {
    position: relative;
    margin-top: 700px; 
}



.content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.conWrp {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.conWrp h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.conWrp ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.conWrp li {
    margin-bottom: 10px;
}

.conWrp a {
    color: #007bff;
    text-decoration: none;
}

.conWrp a:hover {
    text-decoration: underline;
} */

/* 게시판 */
.left-banner-container {
  float: left;
  width: 200px;
  margin-left: 2rem;
}
.left-banner {
  background-color: #19253d;
  width: 200px;
  height: 2000px;
  margin-top: 1rem;
  border: 1px solid black;
}
.banner-loginBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  margin-bottom: 2rem;
  gap: 0.3rem;
  cursor: pointer;
  color: white;
}
.banner-descs {
  margin: 0.7rem;
  width: 180px;
  text-align: start;
}
.banner-desc {
  max-width: 178px;
  background-color: #19253d;
  color: white;
  cursor: pointer;
  margin-bottom: 1rem;
}
.right-banner-container {
  float: right;
  top: 2rem;
  width: 200px;
  height: 500px;
  margin-right: 2rem;
}
.right-banner {
  width: 200px;
  height: 500px;
  margin-top: 1rem;
}
.right-banner img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.data-counters {
  background-color: #19253d;
  font-weight: 700;
  color: white;
  max-width: 1128px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.sub-container {
  position: relative;
  text-align: center;
  margin: 0 auto;
}
.sub-container > table {
  position: relative;
}
.board-table {
  display: inline-block;
  margin: 0 auto;
}
.board-table tr {
  display: flex;
  flex-direction: column;
}
.board-table tr {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
.board-table tr > td {
  border-bottom: 1px solid black;
  padding: 12px;
  text-align: center;
}

.box > span {
  position: absolute;
  top: 2px;
  left: 7px;
  font-size: 12px;
}
.paging > ul {
  list-style: none;
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
}
.paging ul > li {
  margin: 1rem;
  display: flex;
  align-items: center;
}
.banner {
  width: 1128px;
  margin: 0 auto;
}
.banner > video {
  width: 1128px;
  height: 800px;
  object-fit: cover;
}
.best {
  margin-right: 1rem;
  background-color: #eee;
  border-radius: 50%;
}
.banner-tab {
  display: flex;
  max-width: 1128px;
  margin: 0 auto;
  margin-top: 1rem;
}
.member-photo {
  margin-left: 17.5rem;
}
.member {
  display: flex;
  width: 267px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.best-photos {
  width: 1128px;
  margin-top: 10rem;
  margin: 0 auto;
  background-color: #2e2e2e;
  color: white;
}

.photos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 100%;
  margin: 0 auto;
}
.photo {
  width: 500px;
  margin-left: 1rem;
}
.photo > p {
  font-weight: 700;
  background-color: dodgerblue;
  text-align: center;
  padding: 8px;
}
.best-photo {
  margin-left: 1rem;
  width: 1128px;
  height: 400px;
}

.mapping-tab {
  /* background-color: aliceblue; */
  width: 1128px;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 24px;
  font-weight: 700;
}
.locationWrapper {
  width: 100%;
  display: flex;
  margin-top: 1rem;
  background-color: antiquewhite;
  padding: 2rem;
}
.location {
  border: 2px solid #e2e2e2;
  background-color: #2e2e2e;
  color: white;
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem;
  width: 100px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}

.community-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: dodgerblue;
  width: 100%;
  height: 250px;
  font-size: 46px;
  font-weight: 700;
  color: white;
}
.community-tab > p {
  font-size: 32px;
  font-weight: normal;
}

footer {
  background-color: black;
  color: white;
  font-size: 14px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
